# dependencies
node_modules
.pnp
.pnp.js

# testing
/coverage

# production
build
dist

# others
npm-debug.log
tsconfig.tsbuildinfo
.n
/.npmrc

# yarn berry 
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
